@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

main{
    padding:1rem 4rem;
    width:100%;
}

section{
    display:flex;
    flex-wrap:wrap;
    gap:3rem;
}

.left-img{
    flex:1;
    objectFit:contain;
    aspect-ratio:1;
    height:auto;
    max-width:700px;

}

/* .form-container{
    flex:1;
} */

.form-group{
    display:flex;
    flex-direction:column;
    margin:1rem 0;
}

label{
    font-size:14px;
}
h2{
    font-size:32px;
}

input,textarea{
    padding:0.8rem;
    margin-top:10px;
    background:#000;
    border:1px solid #734949;
    outline:none;
    color:#fff;
    font-size:16px;
    border-radius:12px;
    width:100%;
}

input[type='submit']{
    width:100%;
    transition:0.5s all ease-in-out;
}

input[type='submit']:hover{
    background:#131212;
    cursor:pointer;
}

.cars-container{
    display:flex;
    margin-top:2rem;
}

.check-icon{
    position:absolute;
}